In [1]:
# Dictionary is an unordered collection of values pairs enclosed with {}
fruit = {'Apple':20,'Mango':50}
fruit

{'Apple': 20, 'Mango': 50}

In [2]:
type(fruit)

dict

In [3]:
fruit.keys()  # To take only keys as output

dict_keys(['Apple', 'Mango'])

In [4]:
fruit.values()  # To take only values as output

dict_values([20, 50])

In [5]:
fruit['Mango'] = 200   # Change the value of an existing key.

In [6]:
fruit

{'Apple': 20, 'Mango': 200}

In [7]:
# To Add a new value in an existing Dictionary.
fruit['Banana'] = 50 
fruit

{'Apple': 20, 'Mango': 200, 'Banana': 50}

In [7]:
# to append two dictionaries
d1 = {"Apple":20 , "Mango": 500}
d2 = {"Banana":10, "Pineapple": 50}
d2.update(d1)
print(d1)
print(d2)

{'Apple': 20, 'Mango': 500}
{'Banana': 10, 'Pineapple': 50, 'Apple': 20, 'Mango': 500}

In [19]:
dictionary = {'Mango':500, 'Banana':50, 'Apple':10, 'PineApple':30}
dictionary.pop('Banana')
dictionary

{'Mango': 500, 'Apple': 10, 'PineApple': 30}

In [8]:
# Set is an unordered and unindexed collection of elements enclosed with {}
s1 = {1,0,'a',True,False}
s1

#duplicate values weren't allowed in sets.

{0, 1, 'a'}

In [2]:
# As we know that sets doesn't have any order thats why they store randomly.
s1 = {1,2,3.12,'ssss',3+4j,'ssss'}
s1

{(3+4j), 1, 2, 3.12, 'ssss'}

In [3]:
# to add a single element in set 
s1.add('hi')
s1
s1.add('ppp')
s1

{(3+4j), 1, 2, 3.12, 'hi', 'ppp', 'ssss'}

In [5]:
# To add multiple values in set 
s1.update([10,20,'shubham'])
s1

{(3+4j), 1, 10, 2, 20, 3.12, 'hi', 'ppp', 'shubham', 'ssss'}

In [6]:
# To remove an element from set 
s1.remove('ssss')

In [7]:
s1

{(3+4j), 1, 10, 2, 20, 3.12, 'hi', 'ppp', 'shubham'}

In [27]:
# suppose we have two sets .
# We can use funcitons like union , intersection etc.
set_1 = {1,2,3}
set_2 = {3,4,5}
set_1.union(set_2)

{1, 2, 3, 4, 5}

In [28]:
set_1.intersection(set_2)

{3}