In [7]:
def hi():
    print('hi friends , chai piii lo ....')

In [8]:
hi()

hi friends , chai piii lo ....

In [20]:
def add_20(x):
    x = x + 20 
    print(x)

In [21]:
add_20(40)

60

In [25]:
def odd_even(a):
    if a%2==0:
        print('Number is even..')
    else:
        print('Number is odd..')

In [28]:
odd_even(25)

Number is odd..

In [29]:
# Lambda function.....

In [32]:
a = lambda x : x*x*x  # This user made fucntion is used to find the cube of any number

In [33]:
a(2)

8

In [34]:
# Filter funtion.....

In [2]:
# function to filter all odd numbers ..
l1 = [1,2,3,4,5,6,7,8,9]
final_list = list(filter(lambda x: (x%2!=0),l1))

In [40]:
final_list

[1, 3, 5, 7, 9]

In [41]:
# Map Function ...

In [4]:
map_list = list(map(lambda x: x*2,l1))

In [5]:
map_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
# Reduce function ..

In [7]:
from functools import reduce

In [8]:
sum_fun = reduce(lambda x,y: x*y,l1)

In [50]:
sum_fun   # The final value by multipling every element of list with each other is the output ...

362880