In [39]:
import mysql.connector
db = mysql.connector.connect(host = "localhost",user = "root",password = "lucifer")
a = db.cursor()

In [40]:
a.execute("create database new")

In [41]:
a.execute("use new")

In [ ]:
a.execute("create table student(name varchar(30),roll_no int)")
a.